@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

* {
  user-select: none;
}

main {
  overscroll-behavior-y: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  border-radius: 40px;
  position: absolute;
  right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 40px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 500ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.services-container {
  scrollbar-gutter: stable;
}

@layer components {
  .title-size {
    @apply text-3xl xs:text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl 3xl:text-9xl;
  }
  .first-animation-text {
    @apply text-xl sm:text-2xl lg:text-3xl xl:text-4xl 3xl:text-5xl uppercase text-white font-thin;
  }
  .title-second-animation {
    @apply text-3xl md:text-4xl 2xl:text-5xl 3xl:text-6xl font-semibold;
  }
  .subtitle-size {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl 2xl:text-6xl 3xl:text-7xl font-semibold;
  }
  .button {
    @apply text-xs xs:text-sm md:text-base 2xl:text-lg 3xl:text-xl pt-1 pb-1.5 px-6 rounded-2xl font-semibold;
  }
  .button-animation {
    @apply hover:text-white hover:bg-negro hover:scale-[1.03] transition-all duration-300;
  }
  .button-animation-red {
    @apply button-animation hover:bg-rojo hover:text-white font-semibold;
  }
}

.hideLoader {
  display: none;
  animation: hide 1s;
}

@keyframes hide {
  0% {
    opacity: 1;
    display: flex;
  }
  99% {
    opacity: 0.01;
    display: flex;
  }
  100% {
    display: none;
    opacity: 0;
  }
}


.view {
  margin: 0.2em;
  width: 400px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}